/.bundle/
/.yardoc
/.ruby-version
/Gemfile.lock
/gems
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/test/
/test_results_dashboard_cli_bundler/
/test_with_cli_bundler/
/lib/measures/test_results
/lib/measures/*/tests/output
/lib/measures/*/tests/obsolete
**/obsolete/
/vendor/bundle/

.rubocop*s3*


# rspec failure tracking
.rspec_status

# Ignore IDE files
/.idea

# ignore mac files
.DS_Store

# ignore files made when run openstudio measure -r locally for testing
lib/measures/.rubocop.yml
lib/test/*

# Ignore measure tester gem local test results
test_results/

lib/measures/window_enhancement/__pycache__/
lib/measures/window_enhancement/tests/__pycache__/
lib/measures/window_enhancement/tests/output/
lib/measures/window_enhancement/resources/__pycache__/
lib/measures/window_enhancement/tests/.pytest_cache/
lib/measures/window_enhancement/tests/example_model/run/
lib/measures/ReportRetrofitImpacts/tests/.pytest_cache/
lib/measures/ReportRetrofitImpacts/__pycache__/
**/__pycache__/
*.pyc
*.log
config.ini

# Ignore OSW workflow files with API keys
lib/measures/workflow_with_reporting.osw


# Environment variables (contains secrets)
venv/
.venv/
env/
.env/
.env
*.env
config.env
lib/measures/ReportRetrofitImpacts/venv

# Act secrets file
.secrets

# Act configuration file
.actrc
node_modules
