/.bundle/
/.yardoc
/.ruby-version
/Gemfile.lock
/gems
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/test/
/lib/measures/test_results
/lib/measures/*/tests/output

.rubocop*s3*

# rspec failure tracking
.rspec_status

# Ignore IDE files
/.idea

# ignore mac files
.DS_Store

# ignore files made when run openstudio measure -r locally for testing
lib/measures/.rubocop.yml
lib/test/*

# Ignore measure tester gem local test results
test_results/

# /resources/config.ini # Need to uncomment after review and bugfixes

lib/measures/window_enhancement/__pycache__
lib/measures/window_enhancement/resources/__pycache__/EC3_lookup.cpython-310.pyc
lib/measures/window_enhancement/tests/__pycache__/test_window_enhancement.cpython-310-pytest-7.1.2.pyc
